/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*}*/
a{
    color:black;
}


/*-------------left side---------------------*/

.search-window{
    border-radius: 15px;
    height: 37px;
    border: 1px solid #FF9B85;
    -webkit-box-shadow: 6px 7px 15px 2px #FFBCAD;;
    box-shadow: 6px 7px 15px 2px #FFBCAD;
    background-color: #f8f4f3;
    color: #c96c58;
}
.search-window:focus{
    color: #c96c58;
    background-color: #FDF0EC;
    box-shadow: none;
    outline-color: #FF9B85;
outline-width: 1px;
}
.search-btn{
    border-radius: 15px;
    /*background-color: #FF9B85;*/
    color: #c96c58;
    border: 1px solid #FF9B85;
    -webkit-box-shadow: 6px 7px 15px 2px #FFBCAD;;
    box-shadow: 6px 7px 15px 2px #FFBCAD;
    background-color: #f8f4f3;


}
.reset-btn, .createPost-btn{
    border-radius: 15px;
    /*background-color: #FF9B85;*/
    color: #c96c58;
    border: 1px solid #FF9B85;
    -webkit-box-shadow: 6px 7px 15px 2px #FFBCAD;;
    box-shadow: 6px 7px 15px 2px #FFBCAD;
    background-color: #f8f4f3;

}
.search-btn:hover{
    color: white;
    background-color: #FCE0D9;
}

.reset-btn:hover{
    background-color: #F9C1B4;
    color: white;
}
.createPost-btn:hover{
    background-color: #F6A18E;
    color: white;

}
.timeStamp-name:hover{
    color: #EE522F;
}


ul[role='list'],
ol[role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post_body {

}



.topic_main_body {
    padding: 1em 2em 0 1em;
    /*margin: 0 0 30px 30px;*/
    border: 1px solid #FF9B85;
    border-radius: 20px;
    /*height: 120px;*/
    -webkit-box-shadow: 6px 7px 15px 6px #FF9B85;
    box-shadow: 6px 7px 15px 6px #FF9B85;
/*margin-top: 30px;*/
    opacity: 60%;
    z-index: -1;
    /*background: cornflowerblue;*/
    background: linear-gradient(4deg, #f6f0ee 0%, #f6f0ed 50%, #f8f4f3 100%);
}


/*.topic_main_body:nth-child(1) {*/
/*    padding: 1em 2em 0 1em;*/
/*}*/

.inner_main_bloc {
    display: flex;

}

.topic_inside_title {
    flex-grow: 1;
}
.username-time{
    color: #EE522F;
}
.replies_count_section {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}

.replies_count_section > * {
    text-align: center;
}
.topic_cats_list{
    ;
}
.topic_cat_name {

    /*position: relative;*/
    /*bottom: 0.5em;*/
    /*margin-left: 5px;*/
}

.topic_cats{
    margin-top: 15px;
    margin-bottom: 8px;
}

.post-title{
    font-size: 1.5rem;
}
.post-cats{
    font-size: .75rem;
}
a:hover{
    color: #EE522F;
}
.post-cat-label{
    font-size: .75rem;
}

.date-time-forum-display{
    font-size: .65rem;
}
/*---------------fix hove in header-------------*/
.post-title:hover{
    color: #EE522F;
}