*,
*::before,
*::after {
    box-sizing: border-box;
}
a{
    color:black;
}
.forum-body{
    /*background: linear-gradient(4deg, #fac2a7 0%, #fce0d3 50%, #fcc4a9 100%);*/
}

.search-btn{
    border-radius: 15px;
    color: black;
    background-color: #FF9B85;
}
.reset-btn{
    border-radius: 15px;
    color: black;
    background-color: #c96c58;

}
.createPost-btn{
    border-radius: 15px;
    color: black;
    background-color: #c96c58;

}

ul[role='list'],
ol[role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post_body {
    /*padding-right: 15em;*/
}

.topic_main_body {
    padding: 1em 2em 0 1em;
    border: 1px solid #FF9B85;
    border-radius: 20px;
    /*height: 120px;*/
   box-shadow: 0 15px 9px #FF9B85,0 -2px 1px #FF9B85;
margin-top: 30px;
    /*opacity: 60%;*/
    z-index: -1;
    /*background: cornflowerblue;*/
    background: linear-gradient(4deg, #f6f0ee 0%, #f6f0ed 50%, #f8f4f3 100%);
}

.forum-main-title{

}

.forum-mission{

}

/*.topic_main_body:nth-child(1) {*/
/*    padding: 1em 2em 0 1em;*/
/*}*/

.inner_main_bloc {
    display: flex;

}

.topic_inside_title {
    flex-grow: 1;
}

.replies_count_section {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}

.replies_count_section > * {
    text-align: center;
}

.topic_cat_name {
    /*position: relative;*/
    /*bottom: 0.5em;*/
    margin-right: 0.5em;
    margin-left: 5px;
}
.topic-label{
    text-align: center;

}
.topic_cats{
    margin-top: 15px;
    margin-bottom: 8px;
}
.topic_cats_list {
    display: flex;
}
.post-title{
    font-size: 1.5rem;
}
.post-cats{
    font-size: .75rem;
    text-align: center;
}
.post-cat-label{
    font-size: .75rem;
    text-align: center;
}
.date-time-forum-display{
    font-size: .65rem;
}