.single-title{
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -.02em;
    color: #313131;
}
.topic_cats_list {
    display: flex;
    background: lightgrey;
    color: rgb(255,255,255) !important;
    font-size: 11px;
    vertical-align: middle;
    line-height: 20px;
    padding: 0 12px;
    margin: 0 2px 0 2px;
    display: inline-block;
    border-radius: 50px;
    letter-spacing: 0;
    font-weight: normal;
}
/*.media-block{*/
/*    position: relative; right: 14px;*/
/*}*/
.add-comment-btn{
    border-radius: 15px;
    /*background-color: #FF9B85;*/
    color: #c96c58;
    border: 1px solid #FF9B85;
    -webkit-box-shadow: 6px 7px 15px 2px #FFBCAD;;
    box-shadow: 6px 7px 15px 2px #FFBCAD;
    background-color: #f8f4f3;
}
.add-comment-btn:hover{
    color: white;
    background-color: #FCE0D9;
}
.edit-post-btn{
    border-radius: 15px;
    /*background-color: #FF9B85;*/
    color: #c96c58;
    border: 1px solid #FF9B85;
    -webkit-box-shadow: 6px 7px 15px 2px #FFBCAD;;
    box-shadow: 6px 7px 15px 2px #FFBCAD;
    background-color: #f8f4f3;
}
.edit-post-btn:hover{
    color: white;
    background-color: #FCE0D9;
}
.Admin-delete-btn{
    border-radius: 15px;
    /*background-color: #FF9B85;*/
    color: #c96c58;
    border: 1px solid #FF9B85;
    -webkit-box-shadow: 6px 7px 15px 2px #FFBCAD;;
    box-shadow: 6px 7px 15px 2px #FFBCAD;
    background-color: #f8f4f3;
}
.Admin-delete-btn:hover{
    color: white;
    background-color: #FCE0D9;
}