.spacer {
    height: 50px;
}

.index-card-1 {
    background-color: #9EC1A3;
}

.index-card-2 {
    background-color: #FF9B85;
}

.index-card-3 {
    background-color: #6495ED;
}

.listings-card {
    border: 1px solid #011936;
    background-color: #9EC1A3;
}


.create-listing-form {
    background-color: #FFD15C;
}

.path {
    background-color: #4D1D72;
    color: white;
}

.navbar-brand, h1 {
    font-family: 'Peralta', cursive;
}

p {
    font-family: 'Biryani', sans-serif;
}

h2, h3 {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.form-card {
    width: 50%;
}



/*activity views*/
#activities__cards{
    width:800px;
    height:400px;
    margin: auto;
    border-radius: 4px;
    text-align: center;
    border: lightblue solid 2px;
    display:flex;
}
#activity__card{
    position:relative;
    text-align: center;
    overflow: hidden;
    float:left;
    flex-basis: 60%;

}
#activities__card__title{
    display:inline-block;
    position:relative;
    margin-top: 16px;

}


#activty__card__body{
    text-align: center;
}

#btn_activity{
    position: absolute;
}

.btn__activity{
    background-color: cornflowerblue;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid cornflowerblue;
    border-radius: 25%;
}
#activity__img__url{
    display:inline-block;
    position:relative;
    overflow: hidden;
    height:100%;
    width: 50%;
    float : right;
    flex-basis: 40%;
}



