<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="/partials/head.html :: head">

</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<form th:action="@{/create/listing}" th:method="post" th:object="${listing}">
    <input th:field="*{title}" type="text" name="ListingTitle" id="ListingTitle" class="" placeholder="Title"/>

    <input th:field="*{body}" type="text" name="ListingBody" id="ListingBody" class="" placeholder="Body"/>
    <input th:field="*{price}" type="text" name="ListingPrice" id="ListingPrice" class="" placeholder="Price"/>
    <input th:field="*{imageUrl}" type="text" name="ListingImage" id="ListingImage" class="" placeholder="Image Url"/>
    <button type="submit">Create Listing</button>
</form>
<button type="button" onclick="upload()">upload image</button>

<script th:inline="javascript">
    /*<![CDATA[*/
function upload() {
    const apiKey = [[${filestackKey}]];
    let apiKey1 = [[${fileStackKey}]];
    const client = filestack.init(apiKey1);
    const options = {
        onUploadDone: file => {
            let imgURL = file.filesUploaded[0].url;
            console.log(imgURL);
            document.getElementById("ListingImage").value = imgURL;
        }
    };
    client.picker(options).open();
}
/*]]>*/
</script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>


