<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="/partials/head.html :: head">

</head>
<body>
<form th:action="@{/create/listing}" th:method="post" th:object="${listing}">
    <input th:field="*{title}" type="text" name="ListingTitle" id="ListingTitle" class="" placeholder="Title"/>

    <input th:field="*{body}" type="text" name="ListingBody" id="ListingBody" class="" placeholder="Body"/>
    <input th:field="*{price}" type="text" name="ListingPrice" id="ListingPrice" class="" placeholder="Price"/>
<!--    <input th:field="*{image_url}" type="text" name="ListingImg" id="ListingImg" class="" placeholder="img file here"/>-->
    <button type="submit">Create Listing</button>
</form>
<button type="button" onclick="upload()">upload image</button>
<script th:inline="javascript">
    /*<![CDATA[*/
function upload() {
    let apiKey = "AaMdvKkEKR6S97yjW0hiEz";
    const client = filestack.init(apiKey);
    const options = {
        onUploadDone: file => {
            let imgURL = file.filesUploaded[0].url;
            console.log(imgURL);
        }

    };

    client.picker(options).open();

}

    /*]]>*/
</script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>


