<!DOCTYPE html>
<html lang="en" >
<head th:include="/partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h1>This is the marketplace!</h1>

<div th:each="listing : ${listings}">
    <a th:href="@{/listing/{id}(id=${listing.getId()})}"><h4 th:text="${listing.title}"></h4></a>
    <p th:text="${listing.body}"></p>
    <p th:if="${listing.imageUrl != null}"><img th:src="@{${listing.imageUrl}}" style="max-height:100px"></p>
    <p th:text="${listing.price}"></p>
<!--    <p th:text="${listing.user.getUsername()}"></p>-->
    <a th:href="@{'/listings/user/{user_id}'(user_id=${listing.getUser().getId()})}" th:text="${listing.getUser().getUsername()}"></a>



</div>
<form action="/create/listing" method="get" >
    <button type="submit">Create Listing</button>
</form>





</body>
</html>