<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is the marketplace!</h1>

<div th:each="listing : ${listings}">
    <a th:href="@{/listing/{id}(id=${listing.getId()})}"><h4 th:text="${listing.title}"></h4></a>
    <p th:text="${listing.body}"></p>
    <img th:src="${listing.imageUrl}" th:alt="${listing.title}">
    <p th:text="${listing.price}"></p>
    <p th:text="${listing.user.getUsername()}"></p>


    <form th:action="@{/listing/edit/{id}(id=${listing.getId()})} " method="get">
        <button type="submit">Edit Listing</button>
    </form>
    <form action="/delete/listing/{id}" method="get">
        <button type="submit">Delete Listing</button>
    </form>
</div>
<form action="/create/listing" method="get" >
    <button type="submit">Create Listing</button>
</form>





</body>
</html>