<!doctype  >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="/partials/head.html :: head">

</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h4>individual listing</h4>
<h1 th:text="${listing.title}"></h1>
<p th:text="${listing.body}"></p>
<p th:if="${listing.imageUrl != null}"><img th:src="@{${listing.imageUrl}}" style="max-height:100px"></p>
<p th:text="${listing.price}"></p>
<!--<p th:text="${listing.user.getUsername()}"></p>-->
<a th:href="@{'/listings/user/{user_id}'(user_id=${listing.getUser().getId()})}" th:text="${listing.getUser().getUsername()}"></a>
<form th:action="@{/listing/edit/{id}(id=${listing.getId()})} " method="get">
    <button type="submit">Edit Listing</button>
</form>
<form th:action="@{/listing/delete/{id}(id=${listing.getId()})}" method="get">
    <button type="submit">Delete Listing</button>
</form>
<button><a th:href="@{'/listings'}">Go back to listings</a></button>
<button><a th:href="@{/report}">report post</a></button>
<button><a th:href="@{/messaging/{listingId}/{userId}(userId = ${listing.user.getId()}, listingId = ${listing.getId()})}">Send Message</a></button>

</body>
</html>
