
<nav class=" " th:fragment="navBar" xmlns:sec="http://www.w3.org/1999/xhtml">



    <div class="navbar bg-dark navbar-dark navbar-expand-lg mt-5" id="navbarSupportedContent">
        <div class="container">
<!--        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--           <li><a class="navbar-brand" href="/">ProjectHMD logo</a></li>-->
<!--        </ul>-->

            <div sec:authorize="isAnonymous()">
                <ul class="d-flex align-items-center">
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/sign-up}">Register</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/login}">Login</a></li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()">
                <ul class="d-flex align-items-center">
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                    <li class="navbar-nav"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                    <li class="navbar-nav">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="nav-link text-dark" type="submit" id="navLogOut" >Logout</button>
                        </form>
                    </li>
                </ul>
            </div>



<!--        <form class="">-->
<!--            <input id="input" class="" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button id="search" class="" type="submit">Search</button>-->
<!--        </form>-->


    </div>
    </div>
</nav>


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="/partials/head.html :: head">


</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h1><strong>WELCOME TO PROJECT HAND ME DOWN!!</strong></h1>
<div class="hero">
    <h3>this will be our landing content</h3>
    <div th:text="${message}" th:if="${alert}"></div>
</div>
<div class="marketplace">
    <form action="/listings" method="get">
        <button type="submit">go to listings</button>
    </form>
</div>
<div class="activities">
    <form action="/activities" method="get">
        <button type="submit">go to activities</button>
    </form>
</div>
<div class="forum">
    <form action="/forum" method="get">
        <button type="submit">go to forum</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script></body>
</html>
