<!DOCTYPE html>
<html lang="en">
<head th:include="/partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Admin Profile Page</title>
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h1>This is the Admin page</h1>
<h1>Hello, <span th:text="${user.getUsername()}"></span>!</h1>
<button class="clicker" >Edit Profile</button>
<div class="hiddendiv">
    <form th:action="@{/profile}" method="POST" th:object="${user}">
        <input th:field="*{id}" th:value="*{id}" hidden />
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" required />
        <br>
        <br>
        <label for="email">Email</label>
        <input id="email" th:field="*{email}" required />
        <br>
        <br>
        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" required />
        <br>
        <br>
        <label for="user-phone">Phone Number</label>
        <input id="user-phone" type="text" th:field="*{userPhone}" required />
        <br>
        <br>
        <label for="user-location">Location</label>
        <input id="user-location" type="text" th:field="*{userLocation}" placeholder="San Antonio" required />
        <br>
        <br>
        <input value="Sign me up!" type="submit" />
    </form>
</body>
</html>