<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profile</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Peralta&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-white d-flex sticky-top" th:fragment="navBar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/">Project HandMeDown</a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/sign-up}" th:method="get">
                    <button type="submit" class="btn btn-link me-3">
                        Register
                    </button>
                </form>
                <form th:action="@{/login}" th:method="get">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Login
                    </button>
                </form>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/logout}" th:method="post">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Logout
                    </button>
                </form>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<header class="">
    <!-- Navbar -->

    <!-- Navbar -->
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
      background-image: url('https://images.pexels.com/photos/1148998/pexels-photo-1148998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
      height: 150px;
    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">User Profile</h1>

                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

<div class="spacer"></div>
<div class="container small-profile">
    <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-center align-items-md-start">
            <h2>Hello, <span th:text="${user.getUsername()}"></span>!</h2>
            <img th:src="*{user.getUserIMG()}" height="200px" class="w-50">
        </div>

        <div class="col-md-4 d-flex flex-column align-items-center align-items-md-start">
            <h2>Edit Your Profile</h2>
            <p class="text-danger">* required</p>
            <form th:action="@{/profile}" method="POST" th:object="${user}" class="form-card">
                <input th:field="*{id}" th:value="*{id}" hidden />
                <label class="required" for="username">Username</label><br>
                <input id="username" class="form-control" th:field="*{username}" required />
                <br>
                <label class="required" for="email">Email</label><br>
                <input id="email" class="form-control" th:field="*{email}" required />
                <br>
                <label class="required" for="password">Password</label><br>
                <input id="password" class="form-control" type="password" th:field="*{password}" required />
                <br>
                <label class="required" for="user-phone">Phone Number</label><br>
                <input id="user-phone" class="form-control" type="text" th:field="*{userPhone}" required />
                <br>
                <!--            <label class="required" for="user-location">Location</label>-->
                <input id="user-location" type="text" th:field="*{userLocation}" placeholder="San Antonio" hidden/>
                <!--            <label class="required" for="user-location">Location State</label>-->
                <select id="user-location-state" th:field="*{userLocationState}" name="user-location-state" hidden>
                    <option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option><option value="California">California</option><option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option>
                </select>
                <div class="d-flex flex-column align-items-center">
                    <input th:field="*{userIMG}" type="text" name="ListingImage" id="ListingImage" class="" placeholder="Image Url" hidden/>
                    <button type="button" onclick="upload()" class="btn btn-outline-primary delete-profile">Upload image</button><br>
                    <img id="profile-preview" class="profile-image mb-2" src="" height="75px">
                    <button type="submit" class="mb-2 btn btn-outline-primary delete-profile">Submit</button>
                </div>

            </form>
        </div>
        <div class="col-md-4">
            <h2>Account Options</h2>
            <div class="d-grid gap-2">
                <a class="btn btn-outline-primary delete-profile" th:href="@{/listings/user/{user_id}(user_id = ${user.getId()})}">Your Listings</a>
                <br>
                <a class="btn btn-outline-primary delete-profile" th:href="@{/posts/user/{id}(id = ${user.getId()})}">Your Forum Posts</a></button>
                <br>
                <a class="btn btn-outline-primary delete-profile" th:href="@{/activities/user/{user_id}(user_id = ${user.getId()})}">Your Activities</a></button>
                <br>
                <button class="btn btn-outline-primary delete-profile" onclick="confirmDelete()">Delete Account</button>
            </div>

        </div>
    </div>

</div>
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h4>Project HandMeDown 2022</h4>
    </div>
    <!-- Copyright -->
</footer>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function upload() {
            const apiKey = [[${filestackKey}]];
            let apiKey1 = [[${fileStackKey}]];
            const client = filestack.init(apiKey);
            const options = {
                onUploadDone: file => {
                    let imgURL = file.filesUploaded[0].url;
                    console.log(imgURL);
                    document.getElementById("ListingImage").value = imgURL;
                    document.getElementById("profile-preview").src = imgURL;
                    document.getElementById("profile-preview").classList.remove("profile-image")
                }
            };
            client.picker(options).open();
        }

        function confirmDelete(){
            if(confirm("Are you sure want to delete your account?")){
                var url = window.location.href;
                window.location.replace(url + "/delete/" + [[${user.getId()}]]);
            }
        }

        /*]]>*/
    </script>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>