<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head th:include="partials::head">-->
<head th:include="/partials/head.html :: head">
<body>
<!--<header th:include="partials::my-header"></header>-->
<!--<nav th:include="partials::my-navbar"></nav>-->
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" required />
    <br>
    <br>
    <label for="email">Email</label>
    <input id="email" th:field="*{email}" required />
    <br>
    <br>
    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" required />
    <br>
    <br>
    <label for="user-phone">Phone Number</label>
    <input id="user-phone" type="text" th:field="*{userPhone}" required />
    <br>
    <br>
    <label for="user-location">Location</label>
    <input id="user-location" type="text" th:field="*{userLocation}" placeholder="San Antonio" required />
    <br>
    <br>
    <input value="Sign me up!" type="submit" />
</form>
<br>
<br>
<!--<footer th:include="partials::my-footer"></footer>-->
</body>
</html>
