<!doctype html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activities view</title>
</head>
<body>
<h2><a href="/activities/create">add post ?!</a></h2>
<br><br>

<div th:each="activity : ${activities}">
    <h4 th:text="${activity.title}" ></h4>
    <p th:text="${activity.body}"></p>
    <img th:src="${activity.imageUrl}" th:alt="${activity.title}">
    <p th:text="${activity.webUrl}"></p>
    <p th:text="${activity.user.getUsername()}"></p>
    <a th:href="@{'/activities/{id}'(id= ${activity.id})}">go to this Activity post</a>
    <a th:href="@{'/activities/{id}/edit'(id=${activity.id})}">go to edit this Activity post</a>
</div>
</body>
</html>