<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/partials/head.html :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit activity form</title>
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<form th:action="@{/activities/edit}" th:object="${activity}" method="post" >
    <img th:src="${activity.getImageUrl()}" height="200px">
    <label for="title">title:
        <input th:field="*{title}" id="title" type="text">
    </label><br>

    <label for="body">New Activity
        <input th:field="*{body}" id="body" type="text">
    </label><br>

    <label for="ListingImage">picture
        <input th:field="*{imageUrl}" id="ListingImage" type="text">
    </label><br>
    <button type="button" onclick="upload()">upload image</button>
    <br>

    <label for="webUrl">Activity info URL here
        <input th:field="*{webUrl}" id="webUrl" type="url">
    </label><br>
    <label for="activityCategories">Select Categories:
        <input type="checkbox" name="activityCategories" id="activityCategories"
               th:each=" category : ${categories}"
               th:text="${category.getName()}"
               th:value="${category.id}"
               th:field="*{activityCategories}"/>
    </label>


    <input th:field="*{user}" th:value="${activity.getUser()}" hidden>
    <input th:field="*{id}" th:value="${activity.getId()}" hidden>
    <input th:field="*{timestamp}" th:value="${activity.timestamp}" hidden>
    <input th:field="*{viewCount}" th:value="${activity.viewCount}" hidden>

    <p>preview: </p>
    <img id="profile-preview" src="" height="75px">

    <button type="submit">Save my post!</button>
</form>
<div th:insert="partials/footer.html :: footer"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function upload() {
        const apiKey = [[${filestackKey}]];
        let apiKey1 = [[${fileStackKey}]];
        const client = filestack.init(apiKey);
        const options = {
            onUploadDone: file => {
                let imgURL = file.filesUploaded[0].url;
                console.log(imgURL);
                document.getElementById("ListingImage").value = imgURL;
                document.getElementById("profile-preview").src = imgURL;
            }
        };
        client.picker(options).open();
    }

    /*]]>*/
</script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>