<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Activities</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Peralta&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-white d-flex sticky-top" th:fragment="navBar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/">Project HandMeDown</a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/sign-up}" th:method="get">
                    <button type="submit" class="btn btn-link me-3">
                        Register
                    </button>
                </form>
                <form th:action="@{/login}" th:method="get">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Login
                    </button>
                </form>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/logout}" th:method="post">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Logout
                    </button>
                </form>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<header class="">
    <!-- Navbar -->

    <!-- Navbar -->
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
      background-image: url('https://images.pexels.com/photos/1148998/pexels-photo-1148998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
      height: 150px;
    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Welcome to the Activities</h1>
                    <h4 class="mb-3">Explore things to do, and where to take the little ones!</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>



<div class="spacer"></div>

<!--searchbar-->
<div class="container">
    <div class="d-flex justify-content-between">
        <form action="/activities/create" method="get">
            <button class="btn btn-outline-primary" type="submit">Add New Activity</button>
        </form>
        <br>
        <form th:action="@{/activities/search}" method="get">
            <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search Activities by keyword"><br><br>
            <button type="submit" class="btn btn-info" >Search</button>
            <a class="btn btn-primary" th:href="@{'/activities'}" role="button">reset</a>
        </form>
        <br>
    </div>
    <div class="spacer"></div>


    

    <!--alert msg-->
    <div class="alert alert-primary alert-dismissable" th:text="${deleteMsg}" th:if="${deleteMsg}" >
        <button type="button" class = "btn-class" data-bs-dismiss="alert" aria-label="close"></button>
    </div>

    <div class="alert alert-primary alert-dismissable" th:text="${createMsg}" th:if="${createMsg}" >
        <button type="button" class = "btn-class" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  
  <form th:action="@{/activities/filter}" method="get">
    <label for="category">Categories:</label>
    <select id="category" name="category">
        <option selected disabled>Category</option>
        <div th:each="category : ${categories}">
            <option th:text="${category.getName()}"></option>
        </div>
    </select>
    <label for="state">States:</label>
    <select id="state" name="state">
        <option disabled selected>State</option>
        <div th:each="state : ${states}">
            <option th:text="${state}"></option>
        </div>
    </select>
    <label for="city">Cities:</label>
    <select id="city" name="city">
        <option disabled selected>City</option>
        <div th:each="city : ${cities}">
            <option th:text="${city}"></option>
        </div>
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>


    <table class="table table-responsive align-middle mb-0 bg-white  ">
        <thead class="bg-light">
        <tr>
            <th>Title</th>
            <th>Name</th>
            <th class="text-center">Category</th>

        </tr>
        </thead>
        <tbody  th:each="activity : ${activities}">
        <tr>
            <td>
                <div class="d-flex align-item-center">
                    <img th:src="@{${activity.imageUrl}}"  th:if="${activity.imageUrl != null}" style="width: 45px; height: 45px"
                         class="rounded-circle">
                    <div class="ms-3">
                        <h3><a th:href="@{'/activities/{id}'(id= ${activity.id})}"><span class="fw-bold mb-1" th:text="${activity.title}"></span>
                        </a></h3>
                        <p>Views : <span class="fw-normal mb-1" th:text="${activity.getViewCount()}"></span></p>
                    </div>
                </div>
            </td>
            <td>
                <a th:href="@{'/activities/user/{user_id}'(user_id=${activity.getUser().getId()})}" th:text="${activity.getUser().getUsername()}"></a>
            </td>
            <td class="text-center">
                <span th:each="category : ${activity.getActivityCategories()}"><a th:href="@{/activities/categories/{id} (id= ${category.getId()})}" th:text="${category.getName() }"></a>&nbsp&nbsp&nbsp</span>
            </td>
        </tr>
        </tbody>
    </table>



</div>
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h4>Project HandMeDown 2022</h4>
    </div>

    <!-- Copyright -->
</footer>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
</body>
</html>