<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="/partials/head.html :: head">


</head>
<body>
<main>
    <nav th:include="/partials/navBar.html :: navBar"></nav>
    <header class="row">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <div class="content">
            <h1>
                <span>P</span><span>R</span><span>O</span><span>J</span><span>E</span><span>C</span><span>T</span><span> </span><span>H</span><span>A</span><span>N</span><span>D</span><span> </span><span>M</span><span>E</span><span> </span><span>D</span><span>O</span><span>W</span><span>N</span><span>!</span>
            </h1>
        </div>
    </header>
    <div class="hero row">
        <h3>this will be our landing content</h3>
    </div>
    <div class="marketplace row">
        <form action="/listings" method="get">
            <button type="submit">go to listings</button>
        </form>
    </div>
    <div class="activities row">
        <form action="/activities" method="get">
            <button type="submit">go to activities</button>
        </form>
    </div>
    <div class="forum row">
        <form action="/forum" method="get">
            <button type="submit">go to forum</button>
        </form>
    </div>
</main>
<script>
    $('.txt').html(function (i, html) {
        var chars = $.trim(html).split("");

        return '<span>' + chars.join('</span><span>') + '</span>';
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>