<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="/partials/head.html :: head">


</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h1>helllllllooooo</h1>
<div class="hero">
    <p>this will be our landing content</p>
</div>
<div class="marketplace">
    <form action="/listings" method="post">
        <button type="submit">go to listings</button>
    </form>
</div>
<div class="activities">
    <form action="/activities" method="post">
        <button type="submit">go to activities</button>
</div>
<div class="forum">
    <form action="/forum" method="post">
        <button type="submit"> go to forum</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script></body>
</html>