<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Parenting Forum</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Peralta&family=Ubuntu+Condensed&display=swap"
          rel="stylesheet">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/forum.css">

    <link rel="icon" type="image/png" href="/favicon.png">

</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-white d-flex sticky-top" th:fragment="navBar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/">Project HandMeDown</a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/sign-up}" th:method="get">
                    <button type="submit" class="btn btn-link me-3">
                        Register
                    </button>
                </form>
                <form th:action="@{/login}" th:method="get">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Login
                    </button>
                </form>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/logout}" th:method="post">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Logout
                    </button>
                </form>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>


<div class="p-5 text-center bg-image"
     style=" background-image: url('https://images.pexels.com/photos/1337382/pexels-photo-1337382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
      height: 150px; ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <div class="row justify-content-center">
                    <h1 class="forum-main-title col-lg-10 text-center mx-4">Welcome to the Parenting Forum</h1>
                    <h4 class="forum-mission col-lg-10">Ask Questions and Get Answers</h4>
                </div>
<!--                <div sec:authorize="isAnonymous()">-->
<!--                    <a class="btn btn-outline-light btn-lg" href="/login" role="button">Login</a>-->
<!--                    <a class="btn btn-outline-light btn-lg" href="/sign-up" role="button">Register</a>-->
<!--                </div>-->

            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>
<div class="container">
<div class="row">
    <div class="col-md-3 d-flex flex-column">
        <div class="cats-search left-side d-flex flex-column">
            <div>
                <div>
                    <form th:action="@{/posts/search}" method="get">
                        <input type="text" name="keyword" th:value="${keyword}"
                               placeholder="Search topics by keyword"
                        >
                        <button type="submit" class="search-btn btn ">Search</button>
                    </form>
                </div>
                <div class="cats-drop align-content-center">
                    <label for="forum-categories">Search By Categories: &nbsp</label>
                    <select id="forum-categories" name="forum-categories"
                            onChange="window.location.replace(this.value)">
                        <div th:if="${categoryChosen}">
                            <div th:each="category : ${categories}">
                                <div th:if="${category.getId() == chosenCategory.getId()}">
                                    <option
                                            th:href="@{/FilterByCategory/{cat_id}(cat_id = ${chosenCategory.getId()})}"
                                            th:value="@{/FilterByCategory/{cat_id}(cat_id = ${chosenCategory.getId()})}"
                                            th:text="${chosenCategory.getName()}">

                                    </option>
                                </div>
                            </div>
                            <div th:each="category : ${categories}">
                                <div th:if="${category.getId() != chosenCategory.getId()}">
                                    <option
                                            th:href="@{/FilterByCategory/{cat_id}(cat_id = ${category.getId()})}"
                                            th:value="@{/FilterByCategory/{cat_id}(cat_id = ${category.getId()})}"
                                            th:text="${category.getName()}">
                                    </option>
                                </div>
                            </div>
                        </div>
                        <div th:if="${noCategory}">
                            <div th:each="category : ${categories}">
                                <option
                                        th:href="@{/FilterByCategory/{cat_id}(cat_id = ${category.getId()})}"
                                        th:value="@{/FilterByCategory/{cat_id}(cat_id = ${category.getId()})}"
                                        th:text="${category.getName()}">

                                </option>
                            </div>
                        </div>
                    </select>
                </div>

            </div>

            <div class="row d-flex  page-transfer-button mt-4 justify-content-start">
                <form class="col-sm-6" action="/create/post" method="get">
                    <a class=" btn reset-btn" th:href="@{'/forum'}" role="button">Reset Search</a>
                    <br>
                    <br>
                    <button type="submit" class="col-sm-6 btn createPost-btn">Create Post</button>
                </form>
            </div>
        </div>
    </div>

    <!--    forum topics-->
    <section class="forum-content col-md-9 mt-3">
        <div class="post_body">
            <ol class="topic_main_body" th:each="post : ${posts}">
                <div class="inner_main_bloc">
                    <div class="topic_inside_title">
                            <span>
                               <a th:href="@{/forum_post/{id}(id=${post.id})}">
                                    <span class="post-title" th:text="${post.title}"></span>
                               </a>
                            </span>
                        <br>
                        <span class="post-body" th:text="${post.body}"></span>
                        <div class="topic_cats">
                            <ul class="topic_cats_list " role="list">
                                <li class="post-cat-label">Categories:&nbsp;</li>
                                <li class="post-cats " th:each="cat : ${post.getForumPostCategories()}">

                                    <a th:href="@{/FilterByCategory/{cat_id}(cat_id=${cat.getId()})}">

                                        <span class="topic_cat_name" th:text="${cat.getName()}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="date-time-forum-display">
                               <p>Asked by:
                                    <a th:href="@{/posts/user/{user_id}(user_id=${post.user.getId()})}">
                                        <span th:text="${post.user.getUsername()}"></span>
                                    </a>,&nbsp; <time th:text="${post.timestamp}"></time>
                               </p>
                            </span>
                    </div> <!-- end of topic_inside_title-->
                    <div class="replies_count_section">
                        <span th:text="${post.getForumReplies().size()}"></span>
                        <span>replies</span>
                    </div>
                </div> <!-- end of inner_main_bloc-->
            </ol>
        </div> <!-- end of post_body-->
    </section>
</div>
</div>
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(255,145,145);">
        <h4>Project HandMeDown 2022</h4>
    </div>
    <!-- Copyright -->
</footer>


<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
</body>

</html>