<!doctype html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/partials/head.html :: head">
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h1>Forum header</h1>
<div th:each="post : ${posts}">
    <h4 th:text="${post.title}" ></h4>
    <p th:text="${post.body}"></p>
    <p th:text="${post.user.getUsername()}"></p>
    <span><a th:href="@{/forum_post/{id}(id=${post.id},action='show_all')}"><sup>view</sup></a></span>&nbsp;
    <span><a th:href="@{/edit/{id}/post(id=${post.id},action='show_all')}"><sup>edit</sup></a></span>&nbsp;
</div>
<div class="page-transfer-button">
    <form action="/create/post" method="get">
        <button type="submit">Create Post</button>
    </form>
</div>

<!--th:method="get" th:object="${post}-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script></body>
</body>
</html>