<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit activity form</title>
</head>
<body>

<div class="container-fluid">
  <h1>Edit post</h1>

  <form th:action="@{/edit/post}" th:method="post" th:object="${post}">
    <input th:field="*{id}" hidden>
    <input th:field="*{user}" hidden>
    <label >Title</label><br>
    <input th:field="*{title}"><br>
    <label >Body</label><br>
    <textarea th:field="*{body}"></textarea><br>
    <input type="submit">
  </form>
</div>


</body>
</html>