<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>View Post</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Peralta&family=Ubuntu+Condensed&display=swap"
          rel="stylesheet">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/single-forum.css">

    <link rel="icon" type="image/png" href="/favicon.png">

</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-white d-flex sticky-top" th:fragment="navBar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/">Project HandMeDown</a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/sign-up}" th:method="get">
                    <button type="submit" class="btn btn-link me-3">
                        Register
                    </button>
                </form>
                <form th:action="@{/login}" th:method="get">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Login
                    </button>
                </form>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/logout}" th:method="post">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Logout
                    </button>
                </form>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!----------------Heder----------------- -->
<div class="p-5 text-center bg-image"
     style=" background-image: url('https://images.pexels.com/photos/1337382/pexels-photo-1337382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
      height: 150px; ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <div class="row justify-content-center">
                    <h1 class="forum-main-title col-lg-10 text-center mx-4">Viewing Forum Post</h1>
                    <h4 class="forum-mission col-lg-10">View posts and reply to posts</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------- content ------------------- -->
<div class="container">
    <!--    breadcrumb-->
    <nav style="margin-top: 0.5em;" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0" style="background-color: #fff">
            <li class="breadcrumb-item"><a th:href="@{'/forum'}">Forum</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${posts.title}"></li>
        </ol>
    </nav>
    <!--            breadcrumb end-->

    <!-- -------------- NEW --------------- -->
    <div class=" row">
        <div class="topic_box col-md-3">
            <a class="" href="#">
                        <span th:if="${posts.user.getUserIMG() != null}">
                            <img class="avatar img-fluid" alt="Profile Picture" style="height: 250px;"
                                 th:src="${posts.user.getUserIMG()}">
                        </span>
            </a>
            <a th:href="@{/posts/user/{user_id}(user_id=${posts.user.getId()})}"
               class="btn-link   "
               th:text="${posts.getUser().getUsername()}">,&nbsp
                <time class="text-muted text-sm" th:text="${posts.timestamp}">
                    <!--timestamp here-->
                </time>
                <!--username of post author-->
            </a>;

        </div>

        <section class="forum-content col-md-9  ">
            <div class="post_body ">
                <!--               figure out pagination-->
                <ul class="topic_main_body " th:each="post : ${posts}">
                    <div class="inner_main_bloc">
                        <div class="topic_inside_title">
                            <span>
                               <a th:href="@{/forum_post/{id}(id=${post.id})}">
                                   <h1 class="single-title" th:text="${posts.title}"></h1>
                               </a>
                            </span>
                            <br>
                            <span class="post-body" th:text="${post.body}"></span>
                            <ul class="">
                                <li class="topic_cats_list" style="" th:each="cat : ${categories}">
                                    <a th:href="@{/FilterByCategory/{cat_id}(cat_id=${cat.getId()})}">
                                        <span th:text="${cat.name}"><!--category tags--></span>
                                    </a>
                                    <div class="post-cat-label ">Categories:&nbsp;
                                        <a class="post-cat col-sm-2 mx-1"
                                           th:each="cat : ${post.getForumPostCategories()}"
                                           th:href="@{/FilterByCategory/{cat_id}(cat_id=${cat.getId()})}">

                                            <span class="topic_cat_name " th:text="${cat.getName()}"></span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- end of topic_inside_title-->

                    </div> <!-- end of inner_main_bloc-->
                </ul>
            </div> <!-- end of post_body-->
        </section>
    </div>


    <!-- Comments -->
    <div>
        <div class="media-block" th:each="reply : ${replies}">
            <div style="position: relative; right: 20px;">
                <i class="fab fa-replyd"></i>
            </div>&nbsp;
            <!--                                user avatar image-->
            <a class="media-left" href="#">
                                        <span th:if="${reply.user.getUserIMG() != null}">
                                          <img class="avatar img-fluid" style="height: 150px;"
                                               th:src="@{${reply.user.getUserIMG()}}">
                                        </span>
            </a>
            <!--                                reply of user-->
            <div class="media-body">
                <div class="mar-btm" style="display: flex;">
                    <a th:href="@{/posts/user/{user_id}(user_id=${reply.user.getId()})}"
                       class="btn-link text-semibold media-heading box-inline"
                       th:text="${reply.user.getUsername()}">
                        <!--reply username-->
                    </a>,&nbsp;
                    <p class="text-muted text-sm" th:text="${reply.timestamp}">
                        <!--timestamp-->
                    </p>
                </div>
                <div><p th:text="${reply.body}"><!-- body of reply--></p></div>

                <div class="pad-ver">
                    <a class="btn btn-trans btn-icon add-tooltip"
                       th:if="${reply.user.getId() == user.getId()}"
                       th:href="@{/edit/reply/{id}(id=${reply.getId()})}">
                        Edit Comment
                    </a>
                    <a class="btn btn-trans text-danger add-tooltip"
                       th:href="@{/report/{type}/{id}(type = 'forum_reply', id = ${reply.getId()})}">
                        Report Comment
                    </a>
                    <span sec:authorize="hasAuthority('ADMIN')">
                                                <a class="btn btn-trans btn-icon add-tooltip"
                                                   th:href="@{/admin/reply/{id}/delete(id=${reply.id},action='show_all')}">Admin Delete Comment</a>
                                            </span>
                </div>
                <hr>
            </div>
        </div>
    </div> <!--reply population end-->
</div>

<div class="panel">
    <div id="comment_form" class="panel-body" style="position: relative;right: 15px;">
        <form style="margin-bottom: 2em;" th:action="@{/create/reply/{id}(id=${posts.getId()})}"
              method="post" th:object="${reply}">
                        <textarea style="margin-bottom: .25em;" class="form-control" rows="4" name="message"
                                  th:field="*{body}" required></textarea>
            <button class="btn-primary pull-right" type="submit">Post Reply</button>
        </form>
        <div class="mar-top clearfix">
            <a class="btn btn-trans add-tooltip" th:href="@{'/forum'}">Go back to
                forum</a>
            <a class="btn btn-trans text-danger add-tooltip"
               th:href="@{/report/{type}/{id}(type = 'forum_post', id = ${posts.getId()})}">Report Post</a>
        </div>
    </div>

</div> <!-- container end -->


<footer class="text-center text-white  ">
    <!-- Grid container -->
    <div class="container p-4 "></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h4>Project HandMeDown 2022</h4>
    </div>
    <!-- Copyright -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f98b77bf40.js" crossorigin="anonymous"></script> <!--icons-->
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
</body>
</html>