<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Peralta&family=Ubuntu+Condensed&display=swap"
          rel="stylesheet">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/forum.css">

    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Parents Forum</title>

</head>
<body>
<nav id="nav" class="nav-main navbar navbar-expand-lg navbar-light bg-white  d-flex sticky-top"  th:include="partials/navBar :: navBar"></nav>


<div class="p-5 text-center bg-image"
     style=" background-image: url('https://images.pexels.com/photos/1337382/pexels-photo-1337382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
      height: 150px; ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <div class="row justify-content-center">
                    <h1 class="forum-main-title col-lg-10 text-center mx-4">Welcome to the Parents Forum</h1>
                    <h5 class="forum-mission col-lg-10">Ask questions and get Answers</h5>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-outline-light btn-lg" href="/login" role="button">Login</a>
                    <a class="btn btn-outline-light btn-lg" href="/sign-up" role="button">Register</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<main class="container">

    <div sec:authorize="isAuthenticated()">
        <div class="cats-search ">
            <div class="row">
                <div class="cats-drop col-md-6 align-content-center">
                    <label for="forum-categories">Search By Categories: &nbsp</label>
                    <select id="forum-categories" name="forum-categories"
                            onChange="window.location.replace(this.value)">
                        <div th:if="${categoryChosen}">
                            <div th:each="category : ${categories}">
                                <div th:if="${category.getId() == chosenCategory.getId()}">
                                    <option
                                            th:href="@{/FilterByCategory/{cat_id}(cat_id = ${chosenCategory.getId()})}"
                                            th:value="@{/FilterByCategory/{cat_id}(cat_id = ${chosenCategory.getId()})}"
                                            th:text="${chosenCategory.getName()}">

                                    </option>
                                </div>
                            </div>
                            <div th:each="category : ${categories}">
                                <div th:if="${category.getId() != chosenCategory.getId()}">
                                    <option
                                            th:href="@{/FilterByCategory/{cat_id}(cat_id = ${category.getId()})}"
                                            th:value="@{/FilterByCategory/{cat_id}(cat_id = ${category.getId()})}"
                                            th:text="${category.getName()}">
                                    </option>
                                </div>
                            </div>
                        </div>
                        <div th:if="${noCategory}">
                            <div th:each="category : ${categories}">
                                <option
                                        th:href="@{/FilterByCategory/{cat_id}(cat_id = ${category.getId()})}"
                                        th:value="@{/FilterByCategory/{cat_id}(cat_id = ${category.getId()})}"
                                        th:text="${category.getName()}">

                                </option>
                            </div>
                        </div>
                    </select>
                </div>
                <div class="col-md-6">
                    <form th:action="@{/posts/search}" method="get">
                        <input type="text" name="keyword" th:value="${keyword}"
                               placeholder="Search topics by keyword"
                               size="40">
                        <button type="submit" class="search-btn btn ">Search</button>
                    </form>
                </div>
            </div>

            <div class="row d-flex  page-transfer-button mt-4 justify-content-md-around">
                <form class="col-sm-6" action="/create/post" method="get">
                    <a class=" btn reset-btn" th:href="@{'/forum'}" role="button">Reset Search</a>

                </form>
                <button type="submit" class="col-sm-6 btn createPost-btn">Create Post</button>

            </div>
        </div>

    <!--    forum topics-->
    <section class="forum-content">
        <div class="post_body">
            <ol class="topic_main_body" th:each="post : ${posts}">
                <div class="inner_main_bloc">
                    <div class="topic_inside_title">
                            <span>
                               <a th:href="@{/forum_post/{id}(id=${post.id})}">
                                    <span class="post-title" th:text="${post.title}"></span>
                               </a>
                            </span>
                        <br>
                        <span class="post-body" th:text="${post.body}"></span>
                        <div class="topic_cats">
                            <ul class="topic_cats_list " role="list">
                                <li class="post-cat-label">Categories:&nbsp;</li>
                                <li class="post-cats " th:each="cat : ${post.getForumPostCategories()}">

                                    <a th:href="@{/FilterByCategory/{cat_id}(cat_id=${cat.getId()})}">

                                        <span class="topic_cat_name" th:text="${cat.getName()}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="date-time-forum-display">
                               <p>Asked by:
                                    <a href=""> <!-- needs anchor to username profile view-->
                                        <span th:text="${post.user.getUsername()}"></span>
                                    </a>,&nbsp; <time th:text="${post.timestamp}"></time>
                               </p>
                            </span>
                    </div> <!-- end of topic_inside_title-->
                    <div class="replies_count_section">
                        <span th:text="${post.getForumReplies().size()}"></span>
                        <span>replies</span>
                    </div>
                </div> <!-- end of inner_main_bloc-->
            </ol>
        </div> <!-- end of post_body-->
    </section>
</main>
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(255,145,145);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>


<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
</body>

</html>