<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Peralta&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-white d-flex sticky-top" th:fragment="navBar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/">Project HandMeDown</a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/sign-up}" th:method="get">
                    <button type="submit" class="btn btn-link me-3">
                        Register
                    </button>
                </form>
                <form th:action="@{/login}" th:method="get">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Login
                    </button>
                </form>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:action="@{/logout}" th:method="post">
                    <button type="submit" class="btn btn-link px-3 me-2">
                        Logout
                    </button>
                </form>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<header class="">
    <!-- Navbar -->

    <!-- Navbar -->
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
      background-image: url('https://images.pexels.com/photos/1148998/pexels-photo-1148998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
      height: 400px;
    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Project HandMeDown</h1>
                    <h4 class="mb-3">A Place for Parents to Connect</h4>
                    <div sec:authorize="isAnonymous()">
                        <a class="btn btn-outline-light btn-lg" href="/login" role="button"
                        >Login</a
                        >
                        <a class="btn btn-outline-light btn-lg" href="/sign-up" role="button"
                        >Register</a
                        >
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-light btn-lg" href="/profile" role="button"
                        >Profile</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

<div class="spacer"></div>
<div class="container">
    <h1>Edit Comment</h1>

    <form th:action="@{/edit/reply}" th:method="post" th:object="${reply}">
        <input th:field="*{id}" th:value="${reply.getId()}" hidden>
        <input th:field="*{user}" th:value="${reply.getUser()}" hidden>
        <input th:field="*{timestamp}" th:value="${reply.getTimestamp()}" hidden>
        <input th:field="*{forumPost}" th:value="${reply.getForumPost()}" hidden>
        <label >editing comment</label><br>
        <textarea th:field="*{body}"></textarea><br>
        <input type="submit">
    </form>
    <span><a th:href="@{/reply/{id}/delete(id=${reply.id},action='show_all')}"><sup>Delete Comment</sup></a></span>&nbsp;
</div>

<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
</body>
</html>